{% extends "base.html" %}


{% block content %}
<main>
    <section class="section page-content">
        <div class="container container-narrow">
            <nav class="page-nav">
                <a href="{{ get_url(path='/') }}">&larr; Home</a>
            </nav>
            <h1>{{ section.title }}</h1>
            <p class="section-intro">{{ section.description }}</p>
            {{ <post_list pages={section.pages} heading="h2" /> }}
            <p class="feed-link">
                <a href="{{ get_url(path='blog/atom.xml', trailing_slash=false) }}">Atom feed</a>
            </p>
        </div>
    </section>
</main>
{% endblock %}
